html {
	scroll-behavior: smooth;
}

body {
	/*max-width: 960px;*/
	min-height: 100vh;
	text-rendering: optimizeSpeed;
	font-family: Calibri, Arial, sans-serif;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(12, [col-start] 1fr);
	grid-gap: 8px;
	padding: 8px;
}

body > * {
	grid-column: col-start / span 12;
}

/* https://stackoverflow.com/a/12642009 */
button.link-like {
	align-items: normal;
	background-color: rgba(0, 0, 0, 0);
	border-color: rgb(0, 0, 238);
	border-style: none;
	box-shadow: none;
	box-sizing: content-box;
	color: rgb(0, 0, 238); 
	cursor: pointer;
	display: inline;
	font: inherit;
	height: auto;
	padding: 0;
	perspective-origin: 0 0;
	text-align: start;
	text-decoration: underline;
	text-transform: none;
	transform-origin: 0 0;
	width: auto;
	-moz-appearance: none;
	-webkit-logical-height: 1em; /* Chrome ignores auto, so we have to use this hack to set the correct height  */
	-webkit-logical-width: auto; /* Chrome ignores auto, but here for completeness */
}
/* Mozilla uses a pseudo-element to show focus on buttons, */
/* but anchors are highlighted via the focus pseudo-class. */
@supports (-moz-appearance:none) { /* Mozilla-only */
	button.link-like::-moz-focus-inner { /* reset any predefined properties */ 
		border: none;
		padding: 0;
	}
	button.link-like:focus { /* add outline to focus pseudo-class */
		outline-style: dotted;
		outline-width: 1px;
	}
}

.sidebar select {
	width: 95%;
}
.sidebar textarea {
	width: 95%;
	height: 20em;
}

p#copyStatus {
	margin: 0.333333em 0;
}
.success {
	color: #090;
}
.failure {
	color: #900;
}

#cookieExplanation {
	background-color: rgba(200, 200, 20, 0.333333);
	font-size: 0.833333em;
	margin-top: 0.75em;
	padding: 0.5em 0.6em;
	visibility: hidden;
}
#cookieExplanation.visible {
	visibility: visible;
}
#cookieExplanation p {
	margin: 0.6em 0;
}
#cookieExplanation p:first-child { margin-top: 0; }
#cookieExplanation p:last-child { margin-bottom: 0; }

@media (min-width: 880px) {
	body > noscript {
		grid-column: col-start / span 12;
	}
	body > .main {
		grid-column: col-start / span 10;
	}
	body > .sidebar {
		grid-column: col-start 11 / span 2;
	}
	
	#gameList {
		display: inline-flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	#gameList h1 {
		text-align: center;
		width: 100%;
	}
	#gameList .list-group {
		flex: 1;
		min-width: 100px;
	}
}

#gameList {
	
}
#gameList h1 {
	
}
#gameList .list-group {
	
}
#gameList .list-group .list-group-item {
	color: inherit;
}
#gameList .list-group .list-group-item div {
	border-color: #000;
	border-style: solid;
	border-width: 1px;
	color: #000;
	margin: 0.5em 0;
	padding: 0 0.25em;
	width: fit-content;
	width: -moz-fit-content;
}

#gameList > #gameList4 { border-color: #083; color: #083; }
#gameList > #gameList3 { border-color: #470; color: #470; }
#gameList > #gameList2 { border-color: #740; color: #740; }
#gameList > #gameList1 { border-color: #900; color: #900; }

#gameList > #gameList5 { border-color: #083; color: #083; }
#gameList > #gameList5 ~ #gameList4 { border-color: #090; color: #090; }
#gameList > #gameList5 ~ #gameList3 { border-color: #770; color: #770; }
#gameList > #gameList5 ~ #gameList2 { border-color: #830; color: #830; }
#gameList > #gameList5 ~ #gameList1 { border-color: #900; color: #900; }

#gameList > #gameList4 .list-group-item div { background-color: #4E7; }
#gameList > #gameList3 .list-group-item div { background-color: #BD4; }
#gameList > #gameList2 .list-group-item div { background-color: #DB4; }
#gameList > #gameList1 .list-group-item div { background-color: #E88; }

#gameList > #gameList5 .list-group-item div { background-color: #4E7; }
#gameList > #gameList5 ~ #gameList4 .list-group-item div { background-color: #9E4; }
#gameList > #gameList5 ~ #gameList3 .list-group-item div { background-color: #EE6; }
#gameList > #gameList5 ~ #gameList2 .list-group-item div { background-color: #E94; }
#gameList > #gameList5 ~ #gameList1 .list-group-item div { background-color: #E88; }
